<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.6, minimum-scale=1.0, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="rating" content="general">
    <meta name="robots" content="max-image-preview:large">

    <!-- 商品管理後台需要使用到 -->
    <!-- 網頁圖標icon -->
    <link href="~/logo/creamu48.ico" rel="shortcut icon" />
    <!-- icon -->
    <script src="https://kit.fontawesome.com/282af5b4ee.js" crossorigin="anonymous"></script>
    <!-- 自己寫好的 css 樣式 -->
    <link href="~/css/custom-styles.css" rel="stylesheet" type="text/css" media="all" />
    <!-- 商品敘述懸停 -->
    <link href="~/css/hoverEffect.css" rel="stylesheet" type="text/css" media="all" />
    <!-- bootscript -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Title & 網站ico-->
    <link rel="shortcut icon" href="~/logo/CreamU.ico">
    <title>CreamU</title>
    <meta name="description" content="The official website of CreamU,create your own puppet.">


    <!-- ▼ CSS Load ▼-->
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/common.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="~/css/top_pages.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.typekit.net/jfs6aei.css">

    <!-- ▼ FONT Load ▼-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <meta name='robots' content='max-image-preview:large' />
    <style id='bogo-language-switcher-style-inline-css' type='text/css'>

        ul.bogo-language-switcher li {
            list-style: none outside none;
            padding: 0;
        }

        /* National Flags */
        .bogoflags,
        .bogoflags-before:before {
            display: inline-block;
            width: 16px;
            height: 11px;
            background-image: none;
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0 4px;
            vertical-align: top;
        }
    </style>


    <style id='global-styles-inline-css' type='text/css'>


        :where(.is-layout-flex) {
            gap: 0.5em;
        }

        body .is-layout-flow > .alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        body .is-layout-flow > .alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        body .is-layout-flow > .aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        body .is-layout-constrained > .alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        body .is-layout-constrained > .alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        body .is-layout-constrained > .aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }


        body .is-layout-flex {
            display: flex;
        }

        body .is-layout-flex {
            flex-wrap: wrap;
            align-items: center;
        }
    </style>
</head>

<body class="top preload">
	<div id="containers">
		<header>
			@*logo*@
			<h1 class="head_tit" style="margin-top:0px";>
				<a href="">
					<img src="~/logo/CreamU.png" alt="CreamU" style="width:100px;">
				</a>
			</h1> 
			<nav class="nav_box">
				<ul class="nav_list n_01">
					<li><a asp-controller="Index" asp-action="Index">商品</a></li>
					<li><a asp-controller="Index" asp-action="CartView">購物車</a></li>
					<li><a asp-controller="Index" asp-action="about">關於我們</a></li>
					<li><a asp-controller="Home" asp-action="ProductIndex">商品管理</a></li>
				</ul>
				<a href="shop.html" target="_blank" class="single_btn">會員登入</a>
				<div class="lang_btn">
					<ul class="bogo-language-switcher">
						<li class="en-US en current first"><span class="bogo-language-name"><a rel="alternate" hreflang="en-US" href="index1.html" title="CH" class="current" aria-current="page">CH</a></span></li>
						<li class="ja last"><span class="bogo-language-name"><a rel="alternate" hreflang="ja" href="index2.html" title="zh-hant">EN</a></span></li>
					</ul>
				</div>
				<div class="nav_trigger_outer"><div class="nav_trigger"></div></div>
			</nav>

			<div id="global_nav">
				<div class="nav_bg"></div>

				<div class="menu_box">
					<nav class="left">
						<ul class="txt_nav nav_01">
							<li><a asp-controller="Index" asp-action="Index">首頁</a></li>
							<li><a href="create.html">商品</a></li>
							<li><a asp-controller="Home" asp-action="ProductIndex">商品管理</a></li>
							<li><a asp-controller="Index" asp-action="CartView">購物車</a></li>
						</ul>
						<ul class="txt_nav nav_02">
							<li><a href="customized.html">客製化商店</a></li>
							<li><a href="shop.html" target="_blank">成品商店<span class="ex_icon icon_black"></span></a></li>
						</ul>
					</nav>

					<div class="right">
						<ul class="txt_nav nav_03">
							<li><a href="https://cover-corp.com/privacy/" target="_blank">隱私策略<span class="ex_icon icon_black"></span></a></li>
							<li><a href="faq.html">常見問題</a></li>
							<li><a href="https://www.youtube.com/">購物車</a></li>
							<li><a asp-controller="Employees" asp-action="Index">員工</a></li>
							<li><a asp-controller="Members" asp-action="Index">會員</a></li>

						</ul>
					</div>
				</div>
			</div>

		</header>
	</div>

	<div class="container">
		<main role="main" class="">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)

	<script src="https://hololivepro.com/wp-content/themes/hololive_production/js/jquery.min.js"></script>
	<script type="text/javascript" src="https://hololivepro.com/wp-content/themes/hololive_production/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="https://hololivepro.com/wp-content/themes/hololive_production/js/jquery.colorbox.js"></script>
	<script type="text/javascript" src="https://hololivepro.com/wp-content/themes/hololive_production/js/jquery.matchHeight.js"></script>
	<script type="text/javascript" src="https://hololivepro.com/wp-content/themes/hololive_production/js/script.js?0214"></script>

	<!--swiper-->
	<script type="text/javascript" src="https://hololivepro.com/wp-content/themes/hololive_production/js/swiper.js"></script>
	<script type="text/javascript" src="https://hololivepro.com/wp-content/themes/hololive_production/js/script_swiper.js?0214"></script>
	<!--swiper-->
	<!--top-->
	<script type="text/javascript" src="https://hololivepro.com/wp-content/themes/hololive_production/js/script_top.js"></script>
	<!--top-->
</body>
</html>