<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

<!-- Themefisher Icon font -->
<link rel="stylesheet" href="~/demo/plugins/themefisher-font/style.css">
<!-- bootstrap.min css -->
<link rel="stylesheet" href="~/demo/plugins/bootstrap/css/bootstrap.min.css">

<!-- Animate css -->
<link rel="stylesheet" href="~/demo/plugins/animate/animate.css">
<!-- Slick Carousel -->
<link rel="stylesheet" href="~/demo/plugins/slick/slick.css">
<link rel="stylesheet" href="~/demo/plugins/slick/slick-theme.css">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="~/demo/css/style.css">
<br />
<br />
<br />
<br />
@*麵包屑*@
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">關於我們</h1>
                    <ol class="breadcrumb">
                        <li><a asp-controller="Index" asp-action="Index">首頁</a></li>
                        <li class="active">關於我們</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-5">
            <h3>CreamU 客製化木偶</h3>
            <p>地址: 高雄市</p>
            <p>電話: 07-000-000</p>
            <p>Email: 123@gmail.com</p>
        </div>
        <div class="col-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28919.98865341617!2d121.53106221562501!3d25.034122200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da80a7ad%3A0xacc4d11dc963103c!2z5Y-w5YyXMTAx6LO854mp5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1697214099271!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />


@*底部*@
<footer class="footer section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-media">
                    <li>
                        <a href="https://www.facebook.com/themefisher">
                            <i class="tf-ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/themefisher">
                            <i class="tf-ion-social-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/themefisher">
                            <i class="tf-ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/themefisher/">
                            <i class="tf-ion-social-pinterest"></i>
                        </a>
                    </li>
                </ul>
                <ul class="footer-menu text-uppercase">
                    <li>
                        <a href="contact.html">首頁</a>
                    </li>
                    <li>
                        <a href="shop.html">商品</a>
                    </li>
                    <li>
                        <a href="pricing.html">購物車</a>
                    </li>
                    <li>
                        <a href="contact.html">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>




<!-- Main jQuery -->
<script src="~/demo/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.1 -->
<script src="~/demo/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Bootstrap Touchpin -->
<script src="~/demo/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<!-- Instagram Feed Js -->
<script src="~/demo/plugins/instafeed/instafeed.min.js"></script>
<!-- Video Lightbox Plugin -->
<script src="~/demo/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
<!-- Count Down Js -->
<script src="~/demo/plugins/syo-timer/build/jquery.syotimer.min.js"></script>

<!-- slick Carousel -->
<script src="~/demo/plugins/slick/slick.min.js"></script>
<script src="~/demo/plugins/slick/slick-animation.min.js"></script>

<!-- Google Mapl -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script type="text/javascript" src="plugins/google-map/gmap.js"></script>

<!-- Main Js File -->
<script src="~/demo/js/script.js"></script>